<div class="page-main">
    <div class="content-wrapper">
        <section class="content-header">

        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modelAddObject">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="modelAddObject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Object</h4>
                    </div>
                    <div class="modal-body">
                        <ol class="breadcrumb">
                            <li><i class="fa fa-steam"></i>SystemA</li>
                            <li class="active"></li>
                        </ol>
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputCode" class="col-sm-2 control-label">ObjecName</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="ObjecName"
                                            [formControl]="objectName" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm" (click)="saveRole()"> Save </button>
                        <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal"> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>